body, html {
background-color:#a1c4fd ;
margin: 0;
}
h1 {
text-align: center;
}
h2 {
text-align: center;
}
h3 {
text-align: center;
}
table, th, td {
border: 1px solid black;}
tr:nth-child(even) {background-color: #66a6ff
;}
tr:hover {
background-color:white;
}
body {color: black}
 
